.restrict {
  width: 45%;
  border: 2px solid black;
}

.label_margin {
  margin-top: 5px;
  margin-left: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.restrict2 {
  width: 60%;
  margin-bottom: 5px;
  margin-left: 20px;
}
.restrict3 {
  margin-bottom: 16px;
}

.form_details {
  margin-right: 20px;
}

.btn_size {
  margin-left: 20px;
  margin-bottom: 10px;
}

.text-danger {
  margin-left: 18px;
}

.signin {
  margin-left: 18px;
}

.alert {
  width: 164px;
  position: absolute;
  top: 6%;
  left: 45%;
}

.alert-danger {
  width: 123px;
  position: absolute;
  top: 6%;
  left: 45%;
}
